html, body { padding: 0; margin: 0; }
* { transition: .4s all ease; }
#inp, #out {
  display: block;
  height: 40%;
  width: 100%;
  border: 0 solid lightgray;
  text-align: center;
}
input:focus { background: red; color: white; }

#inp, #out { font-size: 5vh; }

.footer {
  text-align: center;
  border-top: 1px solid lightgray;
  background: #444;
  padding: 3em 0em;
  color: white;
  opacitcy: 0.02;
}
.footer:active,.footer:hover,.footer:focus { opacity: 1; }

.footer:focus #cetin { animation: ca .5s infinite ease alternate; }
.footer:focus #sunny { animation: sa .5s infinite ease alternate; }
@keyframes ca { to { transform: translateX(+2px); } }
@keyframes sa { to { transform: translateX(-2px); } }

#sunny { position: relative; }
#sunny:before {
  content: "";
  background: url(//kr.corsis.eu/Sunny.png);
  display: inline-block;
           height: 64px;
            width: 64px;
  background-size: 64px;
  position: absolute;
  bottom: calc(-32px + 1em);
}
#cetin { position: relative; }
#cetin:before {
  content: "";
  background: url(https://avatars2.githubusercontent.com/u/27027?v=3&s=460);
  display: inline-block;
  height: 64px;
  width: 64px;
  background-size: 64px;
  position: absolute;
  bottom: calc(-32px + 1em);
  transform: translate(-28px)
}

.line { padding-top: 30px; }
