html, body { padding: 0; margin: 0; }
* { transition: .4s all ease; }
#inp, #out {
  display: block;
  height: 40%;
  width: 100%;
  font-size: 40px;
  border: 0 solid lightgray;
  text-align: center;
  font-size: 10vh;
}
input:focus { background: red; }

div {
  text-align: center;
  border-top: 1px solid lightgray;
}
div:after {
  content: "";
  background: url(https://avatars3.githubusercontent.com/u/1613326?v=3&s=32);
  display: block;
  height: 32px;
  width: 32px;
  float: right;
}
div:before {
  content: "";
  background: url(https://avatars2.githubusercontent.com/u/27027?v=3&s=32);
  display: block;
  height: 32px;
  width: 32px;
  float: right;
}
